:root {
  --color-red: #ff7b54;
  --color-yellow: #ffd56b;
  --color-orange: #ffb26b;
  --color-green: #939b62;
  --color-dark: #444444;
  --color-grey: #999999;
}


body {
  background-color: var(--color-dark);
}


#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#sun > .object {
  fill: var(--color-yellow);
}

#mercury > .object {
  fill: var(--color-green);
  filter: hue-rotate(180deg);
}

#venus > .object {
  fill: var(--color-orange);
}

#earth > .object {
  fill: var(--color-green);
}

#mars > .object {
  fill: var(--color-red);
}

#jupiter > .object {
  fill: var(--color-yellow);
  filter: contrast(40%);
}

#saturn > .object {
  fill: var(--color-orange);
  filter: contrast(60%);
}
#saturn > .ring {
  stroke-dasharray: 1 1 !important;
}

#uranus > .object {
  fill: var(--color-yellow);
  filter: brightness(200%);
}

#neptune > .object {
  fill: var(--color-green);
  filter: hue-rotate(120deg);
}

.ring {
  fill: none;
  stroke: var(--color-grey);
  stroke-dasharray: 1 2;
}
